<div class="row chat-container">
  <div class="chat-message-container" ng-repeat="message in chat.messages track by message.postId">
    <div class="message-author"><img ng-src="{{message.author.imageUrl}}" class="message-author-picture"></img><span class="message-author-name">{{message.author.name}}</span></div>
    <div class="message-message">{{message.message}}</div>
    <div class="chat-message-option">{{message.isStarred}}</div>
  </div>
</div>
<div>
    <form name="chatInputForm" ng-submit="submit()">
      <input type="text" ng-model="chatInput" name="chatInput" placeholder="Send text"/>
      <input type="submit"/>
    </form>
</div>
